<header>
  <nav class="hero-nav">
    <div class="nav-logo">
      <ul class="nav-li">
        <li class="hero-nav-li"><a routerLink="/">Inicio</a></li>
        <li class="hero-nav-li">
          <a
            a
            routerLink="/historia"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Historia</a
          >
        </li>
        <li class="hero-nav-li">
          <a
            a
            routerLink="/tipos"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Tipos</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <section>
    <h1>Bienvenido a la página de Pokemons</h1>
    <div>
      Un mundo interminable...
      <img src="" alt="" />
    </div>
    <div>
      <h1>Pokemon Page</h1>
    </div>
    <div *ngIf="favoritePokemon">
      <h2>Pokemon favorito: {{ favoritePokemon.name }}</h2>
    </div>
    <app-games
      (favoritePokemon)="onFavoritePokemonSelected($event)"
    ></app-games>
  </section>
  <router-outlet></router-outlet>
</main>
